.result-container {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h3 {
    font-size: 18px;
    color: #333;
}

.correct-sign {
    font-size: 20px;
    color: green;
    /* margin-left: 10px; */
}

.file-link {
    display: block;
    margin-top: 5px;
    color: #007bff;
}
